<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.apache.cordova.plugin"
      version="0.1.0">
    <name>Echo</name>
    <description>Sample PhoneGap Echo Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,echo</keywords> 
    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="Echo">
                <param name="android-package" value="org.apache.cordova.plugin.Echo"/>
            </feature>
        </config-file>
     </platform>          
</plugin>